body {
    background-color: brown;
    color: white;
}

#titulo-1 {
    text-align: center;
    color:black;
}

.paragrafo-1 {
    color:azure;
    text-align: center;
    font-size: 20px;
}

.paragrafo-2 {
    color:whitesmoke;
    text-align: center;
    font-size: 25px;
}

h2 {
    text-align: center;
    color:black; 
}