header{
    background-color: rgb(135,206,235);
    color:black;
}

h1 {
    text-align: center;
}

.cabecalho {
    font-size: 25px;
    text-align: center;
}

body {
    background-color: rgb(0,0,0);
    color: white;
}

.sessao-1 {
    background-color: aquamarine;
    color:black;
}

#titulo-1 {
    text-align: center;
    color:greenyellow;
}

.paragrafo-1 {
    color:black;
    text-align: center;
    font-size: 20px;
}

.paragrafo-2 {
    color: black;
    text-align: center;
    font-size: 25px;
}
#subtitulo {
    text-align: center;
    color: rgb(135,206,250);
    font-size: 40px;
}

.lista-1 {
    text-align: center; 
}

#subtitulo-1 {
    text-align: center;
    color: rgb(135,206,235);
    font-size: 40px;
}

#logo {
    width: 40%;
    margin: 0px;
    padding: 0px;
} 

#imagem-2 {
    width: 40%;
}

.conteudo {
    font-size: 25px;
}

.rodape {
    background-color: rgb(135,206,235);
    color: black;
    font-size: 40px;
    text-align: center;
}